{% extends 'webfinches/index.html' %}
{% load static %}

{% block jslibs %}

{% endblock %}

{% block subtitle %}
    Create an Account
{% endblock %}

{% block content %}

		<form>		
		
		<table>
		
		<tr>
				<th>New User Information</th>
		</tr>
		<tr>
				<td>Name:</td>
				<td><input type="text"></td>
		</tr>
		<tr>
			  <td>Email:</td>
			  <td><input type="text"></td>
		</tr>
		<tr>
				<td>Username:</td>
				<td><input type="text"></td>
		</tr>
		<tr>
			  <td>Password:</td>
			  <td><input type="text"></td>
		</tr>	
		<tr>
			  <td>Re-type Password:</td>
			  <td><input type="text"></td>
		</tr>			
		</table> 

				<div align="left"><input type="submit" value="Get Account" /></div>	
		
		</form>
		
{% endblock %}
					
             


{% block scripts %}
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/loadPage.js"></script>
{% endblock %}
